venv/
.env
__pycache__/
*.pyc
chroma_db/
node_modules/
frontend/node_modules/
backend/__pycache__/
dist/
build/
backend/venv/
backend/chroma_db/
backend/node_modules/
backend/uploaded_docs/
frontend/frontend/node_modules/
.env
__pycache__/
*.pyc